<!DOCTYPE html>
<html>
	<head>
		<title>Commande</title>
		<meta charset="utf-8">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
	<div class="container">
		<div id="header" class="jumbotron">
			<h1>Commande</h1>
			<p>Bienvenue sur la partie commande</p>
		</div>
	</div>	

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-xs-12 col-sm-4 col-md-4 centered">
			{% block prix %}
			{% endblock %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 centered">
			{% block commande %}
			{% endblock %}
		</div>
		<div class="col-sm-1"></div>

	</div>
	</body>
</html>
