<!DOCTYPE html>
<html>
	<head>
		<title>Commande</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		{% stylesheets '@formformBundle/Resources/public/css/main.css' %}
		  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		
	</head>
	<body>
		<div class="container">
			<div id="header" class="jumbotron">
				<h1>Commande</h1>
				<p>Bienvenue sur la partie commande</p>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					{% block prix %}
					{% endblock %}
				</div>
				<div class="col-xs-12 col-sm-6 col-md-8">
					{% block commande %}
					{% endblock %}
				</div>
			</div>
		</div>	
	</body>
</html>
