<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Error: {{ status_text }}</title>
    <link rel="icon" type="image/png" href="images/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {% stylesheets '@formformBundle/Resources/public/css/main.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

  </head>

  <body>
    <div class="container">
      <div id="header" class="jumbotron">
        <h1>Un problème est survenu</h1>
        Le site rencontre un problème sur le serveur. Nous allons rapidement prendre cette erreur en compte.<br />
        Veuillez vous rediriger vers une page de notre site : <a href="{{ path('formform_homepage') }} " class="btn btn-warning">Retour au site</a><br />
        Si vous rencontrez cette erreur lors du paiement, c'est que vous rencontrez un problème de solde. Merci de contacter votre banque ou d'utiliser une autre carte de crédit.
      <div>
    </div>
  </body>
</html>