{% extends "formformBundle::layout.html.twig" %}

{% block commande %}

<div class="well">
	<p>Désolé, nous sommes complet. Nous vous invitons à commander pour une autre date ou à regarder le calendrier des évènements directement sur note site. Peut-être trouverez-vous une autre date qui vous correspond.</p><br />
		<a href = "http://s647394915.onlinehome.fr/web/app.php" class="btn btn-success"> Commander </a>
</div>
<a href = "www.louvre.fr" class = "btn btn-info"> Retour au site </a>

{% endblock %}
