{% extends "formformBundle::layout.html.twig" %}


{% block commande %}

<div class="well">
	<p>Vous ne pouvez pas commander pour un jour férié, un mardi ou pour un jour passé car le Louvre est fermé.<br />
	Veuillez réessayer pour une autre date s'il vous plait.</p>
	<br />
	<a href = "http://localhost/projet/Symfony/payment/web/app_dev.php/" class = "btn btn-info">Retour</a>
</div>

{% endblock %}
