{% extends "formformBundle::layout.html.twig" %}

{% block prix %}
<p>Vous avez sélectionnés PLACES places pour le {{ date|date("d/m/Y") }}<br />
Veuillez renseigner les champs pour chaque participant s'il vous plaît.</p><br />

{% endblock %}

{% block commande %}

{% endblock %}