{% extends "formformBundle::layout.html.twig" %}

	{% block prix %}
		<div class="well table-hover">
			<p>Voici les tarifs disponibles :</p>
			<table class="table">
				<thead>
					<tr>
						<th>Catégorie</th>
						<th>Journée</th>
						<th>Demi-journée<th>
					<tr>
				<tbody>
					<tr>
						<th>Inférieur à 4 ans</th>
						<th>Gratuit</th>
						<th>Gratuit</th>
					</tr>
					<tr>
						<th>Entre 4 et 12 ans</th>
						<th>8€</th>
						<th>6€</th>
					</tr>
					<tr>
						<th>Plus de 12 ans</th>
						<th>16€</th>
						<th>12€</th>
					</tr>
					<tr>
						<th>60 ans et plus</th>
						<th>12€</th>
						<th>9€</th>
					</tr>
					<tr>
						<th>Etudiant, militaire, professeur...</th>
						<th>10€</th>
						<th>7.5€</th>
					</tr>
			</table>
		</div>
	<br />

	<div class="well">
		<p>Le musée est fermé aux dates suivantes :
		<ul>
			<li>Les mardis
			<li>Le 1er Mai
			<li>Le 1er Novembre
			<li>Le 25 Décembre
		</ul>
	</div>
	{% endblock %}

	{% block commande %}

	<div class="well">
		<p>Pour pouvoir vérifier la disponibilité des places, veuillez indiquer la date à laquelle vous souhaiter établir votre visite :</p>
		{{ form(form) }}
		<p>A partir de 14H, il n'est plus possible de commander en journée complète pour le jour-même</p>
	</div>
	<br />
	<a href="{{ path('formform_purge') }} " class="btn btn-info">Purger</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/overcast/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

	var billet = $("#form_billet");
	billet.prop('disabled', false);
  	var form = $('.form-control');

	form.datepicker({
		dateFormat: "yy-mm-dd",
		defaultDate: new Date("tomorrow"),
		changeMonth: true,
      	changeYear: true,
		monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
		monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
		dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
		dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
		dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
	});

  	var ajd = new Date();
	var billet = $('#form_billet');

  	var month = $('#form_date_month');
  	var day = $('#form_date_day');
  	var year = $('#form_date_year');


	var ajdMonth = ajd.getMonth()+1;
	var ajdDay = ajd.getDate();
	var ajdYear = ajd.getFullYear();
	var heure = ajd.getHours();

  	form.change(function()
  	{
  		console.log(heure);
  		if(heure >= 14)
  		{		
			var dpJour = form.datepicker( "getDate" ).getDate();
			var dpMonth = form.datepicker( "getDate" ).getMonth()+1;
			var dpYear = form.datepicker( "getDate" ).getFullYear();
			var billet = $("#form_billet");
			if((ajdDay === dpJour) && (ajdMonth === dpMonth) && (ajdYear === dpYear))
			{
				billet.prop('checked', true);
				billet.prop('disabled', true);
				jQuery("#mycheckbox").each(function(){
				    if (jQuery(this).is(":checked")) 
				        ReturnVal = true;
				});
			}
			if(ajdDay != dpJour)
			{
				billet.prop('disabled', false);
			}
  		}
  	});
  });

</script>

{% endblock %}