{% extends "formformBundle::layout.html.twig" %}

{% block prix %}
<p>Voici les tarifs disponibles :</p>

<div class="table-hover">
	<table class="table">
		<thead>
			<tr>
				<th>Age</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Enfant inférieur à 4 ans</th>
				<th>Gratuit</th>
			</tr>
			<tr>
				<th>Enfant entre 4 et 12 ans</th>
				<th>8€</th>
			</tr>
			<tr>
				<th>Adulte de plus de 12 ans</th>
				<th>16€</th>
			</tr>
			<tr>
				<th>Sénior, 60 ans et plus</th>
				<th>12€</th>
			</tr>
	</table>
</div>
{% endblock %}

{% block commande %}

<p>Pour pouvoir vérifier la disponibilité des places, veuillez indiquer la date à laquelle vous souhaiter établir votre visite :</p>
{{ form(form) }}
<br />

{% endblock %}