{% extends "formformBundle::layout.html.twig" %}

{% block commande %}

<form action="http://localhost/projet/Symfony/payment/web/app_dev.php/validation" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_38mJDPuzcmUiNKeQwjrSnXx5"
    data-amount="{{ prix }}"
    data-name="Musée du Louve"
    data-description="2 widgets"
    data-image="https://s3.amazonaws.com/stripe-uploads/acct_19OvPSIvZQQWXweDmerchant-icon-1482222740075-dribbble-tree_1x.jpg"
    data-locale="auto"
    data-label="Payer"
    data-zip-code="true"
    data-currency="eur">
  </script>
</form>

<script type="text/javascript">
   Stripe.setPublishabledKey('sk_test_k8kLQzmIapAeThLZQFpCW5IO');
   $(function() {
    var $form = $('#payment-form');
    $form.submit(function(event) {
      $form.find('.submit').prop('disabled', true);
      Stripe.card.createToken($form, stripeResponseHandler);
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else {
      var token = response.id;
      $form.append($('<input type="hidden" name="stripeToken">').val(token));
      $form.get(0).submit();
    }
  };
  </script>
{% endblock %}