{% extends "formformBundle::layout.html.twig" %}

{% block prix %}
{%endblock%}

{% block commande %}
	<div class="well">
		<p>les nons validés sont supprimés</p>
		<a href="{{ path('formform_homepage') }} " class="btn btn-info">Retour à la page d'accueil</a>
	</div>
{% endblock %}