{% extends "formformBundle::layout.html.twig" %}

{% block prix %}
{%endblock%}

{% block commande %}
	<div class="well">
		<p>les nons validés sont supprimés</p>
		<a href="http://localhost/projet/Symfony/payment/web/app_dev.php/" class="btn btn-info">Retour page d'accueil</a>
	</div>
{% endblock %}