{% extends "formformBundle::layout.html.twig" %}

{% block prix %}
	<a href="{{ path('formform_homepage') }} " class="btn btn-info">Retour à la page d'accueil</a>
{% endblock %}

{% block commande %}
	<div class="well">
		<p>Merci d'avoir commandé vos billets sur Louvre.fr ! Passez une bonne visite et à bientôt</p>
	</div>
{% endblock %}